<div class="overlay"></div>
<div class="modal">
  <div class="container">
    <div class="header mat-elevation-z3">
      <mat-icon class="icon">perm_identity</mat-icon>
      <div class="title">Create Account</div>
    </div>
    <form [formGroup]="registerForm">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="registerForm.get('email').errors">Invalid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error *ngIf="registerForm.get('username').errors">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="registerForm.get('password').errors">Must be at least 5 characters</mat-error>
      </mat-form-field>
    </form>
    <mat-divider></mat-divider>
    <div class="register">
      <button mat-raised-button color="primary" (click)="register()">Create Account</button>
    </div>
  </div>
</div>
