$overlay-opacity: .75;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: $overlay-opacity;
  animation: fadein 300ms ease-in;
}

.container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 300px;
  width: 500px;
  background-color: tomato;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  .header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: gainsboro;
    .title {
      height: inherit;
      width: inherit;
      line-height: inherit;
      background-color: inherit;
      text-align: center;
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      height: inherit;
      width: 50px;
      line-height: inherit;
      background-color: inherit;
      text-align: center;
    }
  }
  .content {}
  .actions {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: gainsboro;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $overlay-opacity;
  }
}
