.mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  button {
    margin-right: 15px;
  }
}

.drawer-container {
  position: absolute;
  width: 100%;
  @media (max-width: 599px) {
    height: calc(100% - 56px);
    top: 56px;
  }
  @media (min-width: 600px) {
    top: 64px;
    height: calc(100% - 64px);
  }
  .mat-drawer-content {
    overflow: hidden;
  }
}

.router-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
